body {
	color: #333;
	margin: 0px;
}
h1 {
	margin: 0px;
	clear: both;
}
h2 {
	margin: 0px;
	text-align: center;
}

header {
	background-color: #333;
}

.clearfix:after {
	content: ".";  /* 新しいコンテンツ */
	display: block;
	clear: both;
	height: 0;
	visibility: hidden; /* 非表示に */
}
div.content {
	margin: 10px;
}
div.description {
	margin: 10px 0px;
}

.main-menu{
	margin: 0;
	padding: 0;
	width: 100%;
}

.main-menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-menu li{
	float: left;
	width: 60px;
	margin: 0;
	padding: 5px;
}
.main-menu li.current{
	background-color: #ddf;
}
.main-menu li.target{
	background-color: #9df;
}

.main-menu a{
	text-decoration: none;
	text-align: center;
	display:block;
	padding: 2px 10px;
	width: 100%;
	font-size: 14pt;
	font-weight: bold;
	color: #fff !important;
}

.pages li {
	padding: 5px;
}
