h2 {
	margin: 0px;
}
table.calendar {
	border: solid 1px #ccc; border-collapse: collapse;
}
table.calendar th,
table.calendar td {
	border: solid 1px #ccc; border-collapse: collapse;
	padding: 3px;
	font-size: 13px;
}
table.calendar td {
	text-align: right;
}

table.calendar td.holiday {
	background-color: #f9c;
}

.year-block {
	max-width: 1200px;
}
.month-block {
	float: left;
	margin: 5px;
	min-height: 250px;
}
